{% extends "base.html" %} 
{% block title %} Подписки {% endblock %}
{% block content %}
<div class="container py-5">
  {% include 'includes/switcher.html' %}
  <h2> Последние обновления авторов, на которых вы подписаны </h2>
  {% for post in page_obj %}
    {% if post.group %}
    {% include 'includes/post.html' %}
    <a class="btn btn-primary btn-sm" href="{% url 'posts:group_list' post.group.slug %}">
      Все записи группы
    </a>
    {% endif %}
    {% if not forloop.last %}<hr>{% endif %}
  {% endfor %}
  {% include "includes/paginator.html" %}
{% endblock %}
